*.ctt	text working-tree-encoding=utf-16le-bom diff=text eol=crlf
*.czt	text working-tree-encoding=utf-16le-bom diff=text eol=crlf
*.det	text working-tree-encoding=utf-16le-bom diff=text eol=crlf
*.elt	text working-tree-encoding=utf-16le-bom diff=text eol=crlf
*.est	text working-tree-encoding=utf-16le-bom diff=text eol=crlf
*.frt	text working-tree-encoding=utf-16le-bom diff=text eol=crlf
*.hut	text working-tree-encoding=utf-16le-bom diff=text eol=crlf
*.int	text working-tree-encoding=utf-16le-bom diff=text eol=crlf
*.itt	text working-tree-encoding=utf-16le-bom diff=text eol=crlf
*.jpt	text working-tree-encoding=utf-16le-bom diff=text eol=crlf
*.kot	text working-tree-encoding=utf-16le-bom diff=text eol=crlf
*.nlt	text working-tree-encoding=utf-16le-bom diff=text eol=crlf
*.not	text working-tree-encoding=utf-16le-bom diff=text eol=crlf
*.plt	text working-tree-encoding=utf-16le-bom diff=text eol=crlf
*.ptt	text working-tree-encoding=utf-16le-bom diff=text eol=crlf
*.rut	text working-tree-encoding=utf-16le-bom diff=text eol=crlf
*.smt	text working-tree-encoding=utf-16le-bom diff=text eol=crlf
*.svt	text working-tree-encoding=utf-16le-bom diff=text eol=crlf
*.tmt	text working-tree-encoding=utf-16le-bom diff=text eol=crlf
*.template	text working-tree-encoding=utf-16le-bom diff=text eol=crlf
