[ASCriticalObjectiveVolume0]
; EN: LocationName="Guidance Rocket Switch"
LocationName=""

[ASCriticalObjectiveVolume1]
; EN: LocationName="Pressure Tanks"
LocationName=""

[Action_DISPLAYMESSAGE0]
Message="5..."

[Action_DISPLAYMESSAGE1]
Message="4..."

[Action_DISPLAYMESSAGE2]
Message="3..."

[Action_DISPLAYMESSAGE3]
Message="2..."

[Action_DISPLAYMESSAGE5]
Message="1..."

[Action_DISPLAYMESSAGE6]
; EN: Message="Pressure tanks destroyed!"
Message=""

[DestroyableObjective_SM0]
; EN: ObjectiveName="SAM Launcher 1"
ObjectiveName=""
; EN: DestructionMessage="SAM Launcher 1 Destroyed!"
DestructionMessage=""
; EN: ObjectiveDescription="Destroy the SAM launcher to allow the dropship to land."
ObjectiveDescription=""
; EN: Objective_Info_Attacker="Destroy SAM Launcher 1"
Objective_Info_Attacker=""
; EN: Objective_Info_Defender="Protect SAM Launcher 1"
Objective_Info_Defender=""

[DestroyableObjective_SM1]
; EN: ObjectiveName="SAM Launcher 2"
ObjectiveName=""
; EN: DestructionMessage="SAM Launcher 2 Destroyed!"
DestructionMessage=""
; EN: ObjectiveDescription="Destroy the SAM launcher to allow the dropship to land."
ObjectiveDescription=""
; EN: Objective_Info_Attacker="Destroy SAM Launcher 2"
Objective_Info_Attacker=""
; EN: Objective_Info_Defender="Protect SAM Launcher 2"
Objective_Info_Defender=""

[HoldObjective0]
; EN: ObjectiveName="Main Rocket Launch Switch"
ObjectiveName=""
; EN: DestructionMessage="Rocket Launched!"
DestructionMessage=""
; EN: ObjectiveDescription="Launch the Main Rocket"
ObjectiveDescription=""
; EN: Objective_Info_Attacker="Launch the Main Rocket"
Objective_Info_Attacker=""
; EN: Objective_Info_Defender="Defend the Main Rocket Switch"
Objective_Info_Defender=""

[HoldObjective1]
; EN: ObjectiveName="Guidance Rocket"
ObjectiveName=""
; EN: DestructionMessage="Guidance Rocket Launched!"
DestructionMessage=""
; EN: ObjectiveDescription="Launch the Guidance Rocket, it is required for a successful launch of the main rocket."
ObjectiveDescription=""
; EN: Objective_Info_Attacker="Launch the Guidance Rocket"
Objective_Info_Attacker=""
; EN: Objective_Info_Defender="Defend the Guidance Rocket"
Objective_Info_Defender=""

[HoldObjective5]
; EN: ObjectiveName="Dock Objective"
ObjectiveName=""
; EN: DestructionMessage="The explosives are in place!"
DestructionMessage=""
; EN: ObjectiveDescription="Place explosives on the pressure tanks to reduce hydraulic pressure and open the security door."
ObjectiveDescription=""
; EN: Objective_Info_Attacker="Place explosives on the pressure tanks"
Objective_Info_Attacker=""
; EN: Objective_Info_Defender="Defend the pressure tanks"
Objective_Info_Defender=""

[LevelInfo0]
; EN: Title="Thrust"
Title=""
; EN: LocationName="Outside"
LocationName=""

[LevelSummary]
; EN: Title="Thrust"
Title=""
; EN: Description="A recreation of the infamous destruction of the Saturn IX PCNR rocket where a crack team of anti-NEG rebels stormed the launch facility and scuttled the rocket by launching it unguided and half-fueled."
Description=""

[SceneSubtitles0]
; EN: SubTitles=("This scenario recreates the premature launching of the half-fueled Saturn IX rocket by anti-NEG rebels.","First, your team must toggle the switch on the roof of this small building to launch the Guidance Rocket, which serves as a necessary navigational beacon for the Main Rocket.","If you wish, you may choose to secure the auxiliary landing pad by destroying two these SAM launchers. If the SAM site is destroyed, your team then may spawn at the landing pad, and an airstrike will drastically weaken the enemy defenses at your next objective.","Place and detonate explosives on the hydraulic pressure tanks. This will open all base doors, and allow access to the facility's main control room.","Finally, you will need to activate the launch switch inside Mission Control before final fueling is complete.  This will scuttle the Main Rocket into an improper launch orbit.")
SubTitles=("","","","","")

[Volume0]
; EN: LocationName="SAM Platform"
LocationName=""

[ZoneInfo0]
; EN: LocationName="Outside"
LocationName=""

[ZoneInfo1]
; EN: LocationName="Guidance Rocket Building"
LocationName=""

[ZoneInfo2]
; EN: LocationName="Defender Spawn in Rocket Building"
LocationName=""

[ZoneInfo3]
; EN: LocationName="Rocket Control Room"
LocationName=""

